.imageContainer {
    height: 280px;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .imageContainer {
        height: 538px;
    }

    .imageContainer img {
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (min-width: 900px) {
    .imageContainer {
        height: 450px;
        width: 450px;
    }
}