
.dialogContainer {
    align-items: flex-start;
    padding-top: 96px;
}

.dialogPaper {
    margin: 0 5%;
    width: 90%;
}

@media screen and (min-width: 600px) {
    .dialogContainer {
        justify-content: flex-end;
        padding-right: 6%;
        padding-top: 72px;
    }

    .dialogPaper {
        margin: 0;
        width: 450px;
    }
}

@media screen and (min-width: 900px) {
    .dialogContainer {
        padding-top: 100px;
    }

    .dialogPaper {
        margin: 0;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
}