.imageContainer {
    height: 120px;
    position: relative;
}

@media screen and (min-width:600px) {
    .imageContainer {
        height: 230px;
    }
}


@media screen and (min-width:900px) {
    .imageContainer {
        height: 240px;
    }
}